body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* STYLE: FONTS */

h1 {
  font-size: 1.5rem; /* 24 */
}
h2{
  font-size: 1.25rem; /* 20 */
}
h3{
  font-size: 1rem; /* 16 */
}
h4{
  font-size: 0.875rem; /* 14 */
}
.text-1{
  font-size: 0.875rem;
} 
.text-2{
  font-size: 0.75rem; /* 12 */
} 

/* STYLE: HEADER */

header {
  padding: 0.94rem 2.5rem;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STYLE: BUTTON */

button {
  background-color: #FFF;
  border: 1px solid #1DBEB4;
  border-radius: 0.32rem;
  color: #1DBEB4;
  padding: 0.63rem;
  margin-right: 0.63rem;
}

.botton-1 {
  font-size: 0.875rem; /* 14 */
  font-weight: 700;
}

.botton-2{
  font-size: 1rem; /* 16 */
  font-weight: 700;
}

/* STYLE: FOOTER */
footer {
  background-color: #1DBEB4;
  padding: 19px 50px;
}
.copyright p{
  color: #FFF;
  margin: 0;
}
.icon--redes i{
  color: #FFF;
  margin: 0 15px;
  font-size: 24px;
}